<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    <h1>
        Pedido N°{$order.idorder}
    </h1>
    <ol class="breadcrumb">
        <li><a href="/ecommerce-teste/index.php/admin"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/ecommerce-teste/index.php/admin/orders">Pedidos</a></li>
        <li><a href="/ecommerce-teste/index.php/admin/orders/{$order.idorder}">Pedido N°{$order.idorder}</a></li>
    </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Editar Status do Pedido</h3>
            </div>
            <!-- /.box-header -->
            {if="$msgError != ''"}
            <div class="alert alert-danger alert-dismissible" style="margin:10px">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <p>{$msgError}</p>
            </div>
            {/if}
            {if="$msgSuccess != ''"}
            <div class="alert alert-success alert-dismissible" style="margin:10px">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <p>{$msgSuccess}</p>
            </div>
            {/if}
            <!-- form start -->
            <form role="form" action="/ecommerce-teste/index.php/admin/orders/{$order.idorder}/status" method="post">
                <div class="box-body">
                    <div class="form-group">
                        <label for="desproduct">Status do Pedido</label>
                        <select class="form-control" name="idstatus">
                            {loop="$status"}
                            <option {if="$value.idstatus === $order.idstatus"}selected="selected"{/if} value="{$value.idstatus}">{$value.desstatus}</option>
                            {/loop}
                        </select>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
            </div>
            </div>
        </div>
    
    </section>
    <!-- /.content -->

    <div class="clearfix"></div>

</div>
<!-- /.content-wrapper -->