<li><a href="/ecommerce-teste/index.php/categories/6">Apple</a></li><li><a href="/ecommerce-teste/index.php/categories/4">Motorola</a></li><li><a href="/ecommerce-teste/index.php/categories/8">Moveis</a></li><li><a href="/ecommerce-teste/index.php/categories/5">Samsung</a></li>