<div class="list-group" id="menu">
    <a href="/ecommerce-teste/index.php/profile" class="list-group-item list-group-item-action">Editar Dados</a>
    <a href="/ecommerce-teste/index.php/profile/change-password" class="list-group-item list-group-item-action">Alterar Senha</a>
    <a href="/ecommerce-teste/index.php/profile/orders" class="list-group-item list-group-item-action">Meus Pedidos</a>
    <a href="/ecommerce-teste/index.php/logout" class="list-group-item list-group-item-action">Sair</a>
</div>